
@model Student

@{ 
    var studentCourse = Model.StudentCourses.FirstOrDefault().Course;
    var upcomingSchedules = studentCourse.ExamSchedules.Where(s => s.ExamDate > DateTime.Now && !Model.ExamScheduleEnrollments.Any(e => e.ExamScheduleId == s.Id));
}


<h3>Hello, @User.Identity.Name</h3>
<div class="row" style="margin-top: 3rem;">
    <div class="col-8">
        <p>My Details</p>
        <hr />
        <div class="card">
            <div class="card-body">
                
                <table class="table table-borderless">
                    <tr>
                        <td>First Name</td>
                        <td><input class="form-control" disabled value="@Model.FirstName" /></td>
                    </tr>
                    <tr>
                        <td>Lasr Name</td>
                        <td><input class="form-control" disabled value="@Model.LastName" /></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><input class="form-control" disabled value="@Model.Email" /></td>
                    </tr>
                    <tr>
                        <td>My Course</td>
                        <td><input class="form-control" disabled value="@Model.StudentCourses.First().Course.Name" /></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><input class="form-control" disabled value="@Model.Email" /></td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
    <div class="col-4">
        <p>Upcoming Activities</p>
        <hr />
        <div class="card">
            <div class="card-body">
                <h6 class="font-weight-bold">Exam</h6>
                @if (upcomingSchedules.Any())
                {
                    var schedule = upcomingSchedules.First();
                    <div class="mb-5" style="color: #595963 !important">
                        <span class="">Exam for <b>@studentCourse.Name</b> </span> <br />
                        <span class="">on <b>@schedule.ExamDate.ToLongDateString()</b></span><br />
                        <span class="">at <b>@schedule.ExamVenue</b></span>

                    </div>
                    <a class="btn btn-sm btn-primary" asp-controller="exam" asp-action="enroll" asp-route-studentId="@Model.Id" asp-route-scheduleId="@schedule.Id">Enroll</a>

                    <br />
                    <a class="btn btn-sm btn-light-primary mt-5" asp-controller="exam" asp-action="index">View past exams</a>
                }
                else
                {
                    <p class="text-muted">You do not have any upcoming exam</p>

                    <a class="btn btn-sm btn-primary mt-3 mb-8" asp-controller="exam" asp-action="index">View past exams</a>
                }


            </div>
        </div>
    </div>
</div>
        