@model Course
@inject ApplicationDbContext db

@{
    ViewBag.Page1 = "Courses";
    ViewBag.Page2 = "Details";
    ViewBag.Page3 = Model.Name;
    ViewBag.Title = Model.Name;
    var otherSubjects = db.Subjects.ToList().Except(Model.CourseSubjects.Select(s => s.Subject));
}

<div class="container-fluid">
    <div class="card card-custom min-h-450px">
        <div class="card-body">
            <h4 class="mb-5">@Model.Name</h4>

            <ul class="nav nav-tabs separator-tabs ml-0 mb-5" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="first-tab" data-toggle="tab" href="#first" role="tab"
                       aria-controls="first" aria-selected="false">COURSE DETAILS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="second-tab" data-toggle="tab" href="#second" role="tab"
                       aria-controls="second" aria-selected="false">SUBJECTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="third-tab" data-toggle="tab" href="#third" role="tab"
                       aria-controls="second" aria-selected="false">STUDENTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="fourth-tab" data-toggle="tab" href="#fourth" role="tab"
                       aria-controls="second" aria-selected="false">EXAMS</a>
                </li>

            </ul>

            <div class="tab-content">
                <div class="tab-pane show active p-4" id="first" role="tabpanel" aria-labelledby="first-tab">
                    <div class="col-11">
                        <div class="row text-center ">
                            <div class="col-3">
                                <p class="text-muted mb-2">Course Name</p>
                                <p class="mb-5">@Model.Name</p>
                            </div>

                            <div class="col-3">
                                <p class="text-muted mb-2">Created On</p>
                                <p class="mb-5">@Model.CreatedOn.ToLongDateString()</p>
                            </div>

                            <div class="col-3">
                                <p class="text-muted mb-2">No Of Subjects</p>
                                <p class="mb-5">@Model.CourseSubjects.Select(s => s.Subject).Count()</p>
                            </div>

                            <div class="col-3">
                                <p class="text-muted mb-2">No Of Students</p>
                                <p class="mb-5">@Model.StudentCourses.Select(s => s.Student).Count()</p>
                            </div>
                        </div>


                    </div>
                    <div class="p-5 mx-5">
                        Actions
                        <hr />
                        <a @*asp-action="DeleteCourse" asp-route-id="@Model.Id"*@ class="btn btn-danger">Delete Coure</a>

                    </div>
                </div>
                <div class="tab-pane" id="second" role="tabpanel" aria-labelledby="second-tab">
                    <div class="row mx-3">
                        <div class="col-12 d-block">
                            <div class="d-flex">
                                <button class="btn btn-primary" data-toggle="modal" data-target="#newSubjectModal">Add Subject</button>
                            </div>

                                <ul class="list-group mt-12">
                                    @foreach (var s in Model.CourseSubjects)
                                    {
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-10">
                                                    <span>@s.Subject.Name</span> <br />
                                                    <small class="text-muted">added on @s.AddedOn.ToLongDateString()</small>
                                                </div>
                                                <div class="col-2 d-flex">
                                                    <a class="ml-auto my-auto" asp-action="RemoveSubject" asp-route-CourseId="@Model.Id" asp-route-SubjectId="@s.Subject.Id"><i class="fa fa-times text-danger"></i></a>
                                                </div>
                                            </div>
                                        </li>
                                    }

                                </ul>


                                

                        </div>
                    </div>

                </div>

                <div class="tab-pane" id="third" role="tabpanel" aria-labelledby="third-tab">
                    <div class="row mx-3">
                        <div class="col-12">

                            <table class="table mt-5">
                                <tr>
                                    <th>Student Name</th>
                                    <th>Email</th>
                                    <th>Registration Date</th>
                                </tr>
                                @foreach (var s in Model.StudentCourses.Select(s => s.Student))
                                {
                                    <tr>
                                        <td>@s.FirstName @s.LastName</td>
                                        <td>@s.Email</td>
                                        <td>@s.RegistrationDate.ToLongDateString()</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>

                </div>

                <div class="tab-pane" id="fourth" role="tabpanel" aria-labelledby="fourth-tab">
                    <div class="row mx-3">
                        <div class="col-10">

                            <a href="#" class="btn btn-primary  float-right">Schedule New Eam</a>

                            <p style="margin-top: 3rem;">Past Exams</p>
                            <p class="mt-5 text-muted">No exam has been taken for <span class="font-weight-bolder">@Model.Name</span></p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>








<!-- Create new subject Modal-->
<div class="modal fade" id="newSubjectModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-controller="courses" asp-action="addSubject">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add subject to <b>@Model.Name</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <input class="form-control" required minlength="3" maxlength="20" name="subjectName" placeholder="subject name" />
                        <small class="text-muted">Subject will be added to <b>@Model.Name</b> if it it exits, else, it'll be created</small>
                    </div>
                    <input name="courseId" value="@Model.Id" class="d-none" />

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary font-weight-bold">Add subject</button>
                </div>
            </form>


        </div>
    </div>
</div>