@model Course
@inject ApplicationDbContext db

@{
    ViewBag.Page1 = "Courses";
    ViewBag.Page2 = "Details";
    ViewBag.Page3 = Model.Name;
    ViewBag.Title = Model.Name;
    var otherSubjects = db.Subjects.ToList().Except(Model.CourseSubjects.Select(s => s.Subject));


    var viewModel = new CreateExamScheduleViewModel
    {
        CourseId = Model.Id,
        Subjects = Model.CourseSubjects.Select(s => new ExamManagement.ViewModels.ExamScheduleSubject{SubjectId = s.SubjectId, SubjectName = s.Subject.Name } ).ToList()
    };

}

<div class="container-fluid">
    <div class="card card-custom min-h-450px">
        <div class="card-body">
            <h4 class="mb-5">@Model.Name</h4>

            <ul class="nav nav-tabs separator-tabs ml-0 mb-5" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="first-tab" data-toggle="tab" href="#first" role="tab"
                       aria-controls="first" aria-selected="false">COURSE DETAILS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="second-tab" data-toggle="tab" href="#second" role="tab"
                       aria-controls="second" aria-selected="false">SUBJECTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="third-tab" data-toggle="tab" href="#third" role="tab"
                       aria-controls="second" aria-selected="false">STUDENTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="fourth-tab" data-toggle="tab" href="#fourth" role="tab"
                       aria-controls="second" aria-selected="false">EXAMS</a>
                </li>

            </ul>

            <div class="tab-content">
                <div class="tab-pane show active p-4" id="first" role="tabpanel" aria-labelledby="first-tab">
                    <div class="col-11">
                        <div class="row text-center ">
                            <div class="col-3">
                                <p class="text-muted mb-2">Course Name</p>
                                <p class="mb-5">@Model.Name</p>
                            </div>

                            <div class="col-3">
                                <p class="text-muted mb-2">Created On</p>
                                <p class="mb-5">@Model.CreatedOn.ToLongDateString()</p>
                            </div>

                            <div class="col-3">
                                <p class="text-muted mb-2">No Of Subjects</p>
                                <p class="mb-5">@Model.CourseSubjects.Select(s => s.Subject).Count()</p>
                            </div>

                            <div class="col-3">
                                <p class="text-muted mb-2">No Of Students</p>
                                <p class="mb-5">@Model.StudentCourses.Select(s => s.Student).Count()</p>
                            </div>
                        </div>

                    </div>
                    @*<div class="p-5 mx-5">
                            Actions
                            <hr />
                            <a asp-action="DeleteCourse" asp-route-id=" Model.Id" class="btn btn-danger">Delete Coure</a>
                        </div>*@
                </div>
                <div class="tab-pane" id="second" role="tabpanel" aria-labelledby="second-tab">
                    <div class="row mx-3">
                        <div class="col-12 d-block">
                            <div class="d-flex">
                                <button class="btn btn-primary" data-toggle="modal" data-target="#newSubjectModal">Add Subject</button>
                            </div>

                            <ul class="list-group mt-12">
                                @foreach (var s in Model.CourseSubjects)
                                {
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-10">
                                                <span>@s.Subject.Name</span> <br />
                                                <small class="text-muted">added on @s.AddedOn.ToLongDateString()</small>
                                            </div>
                                            <div class="col-2 d-flex">
                                                <a class="ml-auto my-auto" asp-action="RemoveSubject" asp-route-CourseId="@Model.Id" asp-route-SubjectId="@s.Subject.Id"><i class="fa fa-times text-danger"></i></a>
                                            </div>
                                        </div>
                                    </li>
                                }

                            </ul>

                        </div>
                    </div>

                </div>

                <div class="tab-pane" id="third" role="tabpanel" aria-labelledby="third-tab">
                    <div class="row mx-3">
                        <div class="col-12">

                            <table class="table mt-5">
                                <tr>
                                    <th>Student Name</th>
                                    <th>Email</th>
                                    <th>Registration Date</th>
                                </tr>
                                @foreach (var s in Model.StudentCourses.Select(s => s.Student))
                                {
                                    <tr>
                                        <td>@s.FirstName @s.LastName</td>
                                        <td>@s.Email</td>
                                        <td>@s.RegistrationDate.ToLongDateString()</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>

                </div>

                <div class="tab-pane" id="fourth" role="tabpanel" aria-labelledby="fourth-tab">
                    <div class="row mx-3">
                        <div class="col-12">

                            <button data-toggle="modal" data-target="#scheduleExamModal" class="btn btn-primary mb-10">Schedule new exam</button>

                            @if (!Model.ExamSchedules.Any())
                            {
                                <p class="mt-5 text-muted">you have not created any exam schedule for <span class="font-weight-bolder">@Model.Name</span></p>
                            }
                            else
                            {
                                <table class="table" id="schedules">
                                    <thead>
                                        <tr>
                                            <th>Exam Date</th>
                                            <th>Venue</th>
                                            <th>Subjects</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var exam in Model.ExamSchedules.OrderByDescending(e => e.ExamDate))
                                        {
                                            <tr>
                                                <td>@exam.ExamDate.ToShortDateString()</td>
                                                <td>@exam.ExamVenue</td>
                                                <td>@string.Join(", ", exam.ExamScheduleSubjects.Select(s => s.Subject.Name))</td>
                                                <td>
                                                    <span class="label label-inline label-pill @(exam.ExamDate < DateTime.Now ? "label-danger" : "label-success")">@(exam.ExamDate < DateTime.Now ? "Past" : "Upcoming")</span>

                                                </td>

                                            </tr>
                                        }
                                    </tbody>
                                    
                                </table>
                            }

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>






<!-- Create new subject Modal-->
<div class="modal fade" id="newSubjectModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-controller="courses" asp-action="addSubject">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add subject to <b>@Model.Name</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <input class="form-control" required minlength="3" maxlength="20" name="subjectName" placeholder="subject name" />
                        <small class="text-muted">Subject will be added to <b>@Model.Name</b> if it it exits, else, it'll be created</small>
                    </div>
                    <input name="courseId" value="@Model.Id" class="d-none" />
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary font-weight-bold">Add subject</button>
                </div>
            </form>

        </div>
    </div>
</div>





<!-- Schedule exam Modal-->
<div class="modal fade" id="scheduleExamModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-controller="courses" asp-action="ScheduleExam">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Schedule an exam for <b>@Model.Name</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(m => viewModel.CourseId)

                    <div class="form-group">
                        <label for="scheduleDate">Exam date and time</label>
                        <input class="form-control" id="scheduleDate" min="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd HH:mm").Replace(' ', 'T')" required type="datetime-local" value="" name="viewModel.ExamDate" />
                    </div>

                    <div class="form-group">
                        <label for="scheduleVenue">Exam venue</label>
                        <textarea class="form-control" id="scheduleVenue" required name="viewModel.ExamVenue" rows="4"></textarea>
                    </div>

                    <div class="form-group">
                        <label>Select subjects</label> <br />
                        @*<small class="text-muted">Subjects to include in this exam</small>*@

                        @for (int i = 0; i < viewModel.Subjects.Count; i++)
                        {
                            <div class="d-block">
                                @Html.CheckBoxFor(m => viewModel.Subjects[i].IsAdded, new { id=$"subject_{i}" })
                                @Html.HiddenFor(m => viewModel.Subjects[i].SubjectId)
                                <label for="@($"subject_{i}")">@viewModel.Subjects[i].SubjectName</label>
                            </div>
                        } 

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary font-weight-bold">Create schedule</button>
                </div>
            </form>

        </div>
    </div>
</div>

@section styles{ 
    <link rel="stylesheet" href="/assets/plugins/custom/datatables/datatables.bundle.css" />
}

@section scripts{ 
    <script src="/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script>
        $('#schedules').DataTable()
    </script>
}